@model AppMvcBasica.Models.Tarefa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Voc~e realmente deseja excluir essa tarefa?</h3>
<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Titulo)*@
            Título
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.DataInicio)*@
            Data Início
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.DataFim)*@
            Data Fim
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
